<h3 md-dialog-title>Quick Add Patient</h3>
<md-dialog-content>
  <form #patientForm="ngForm">
    <div layout="row" flex>
      <div layout="column" class="left-padding top-padding" flex>
        <md-input-container flex> <input mdInput placeholder="Firstname" [(ngModel)]="patient.firstname" name="firstname"></md-input-container>
      </div>
      <div layout="column" class="left-padding top-padding" flex>
        <md-input-container flex> <input mdInput placeholder="Lastname" [(ngModel)]="patient.lastname" name="lastname"></md-input-container>
      </div>

    </div>
    <div layout="row" flex>
      <div layout="column" class="left-padding" style="padding-top:10px" flex>
        <md-select placeholder="Gender" (change)="objChanged($event)">
          <md-option *ngFor="let gender of genders" [value]="gender.value">
            {{ gender.viewValue }}
          </md-option>
        </md-select>
      </div>
      <div layout="column" class="left-padding right-padding" flex>
        <md-input-container flex> <input mdInput placeholder="Birth Date" [(ngModel)]="patient.dob" name="dob"></md-input-container>
      </div>

    </div>
    <div layout="row" flex>
      <div layout="column" class="left-padding" flex>
        <md-input-container flex> <input mdInput placeholder="Address" [(ngModel)]="patient.address" name="address"></md-input-container>
      </div>



    </div>
    <div layout="row" flex>
      <div layout="column" class="left-padding" flex>
        <md-input-container flex> <input mdInput placeholder="Mobile Number" [(ngModel)]="patient.number" name="mobileNumber"></md-input-container>
      </div>

      <div layout="column" class="left-padding right-padding" flex>
        <md-input-container flex> <input mdInput placeholder="Email" [(ngModel)]="patient.emailId" name="email"></md-input-container>
      </div>

    </div>
    <div layout="row" flex>
      <div layout="column" flex>
        <md-checkbox [(ngModel)]="patient.sendWelcomeMessage" name="welcomecheckbox">Welcome Message</md-checkbox>
      </div>
      <div layout="column" flex>
        <md-checkbox [(ngModel)]="patient.sendAddress" name="addressCheckbox">Send Address</md-checkbox>
      </div>
    </div>
  </form>
</md-dialog-content>
<md-dialog-actions layout="row" layout-align="start">
  <md-card-actions> <button style="padding-left:20px" md-raised-button color='accent' (click)="savePatientHttpCall()">SAVE</button>
    <button md-raised-button (click)="cancel()">Cancel</button>
  </md-card-actions>
</md-dialog-actions>
<div style="color:red">{{message}}</div>