<h3 md-dialog-title>Quick Add Patient</h3>
<md-dialog-content>
  <form #patientForm="ngForm">
    <div layout="row" flex>
      <div layout="column" class="left-padding top-padding" flex>
        <md-input-container flex> <input mdInput placeholder="Firstname" name="firstname"></md-input-container>
      </div>
      <div layout="column" class="left-padding top-padding" flex>
        <md-input-container flex> <input mdInput placeholder="Lastname" name="lastname"></md-input-container>
      </div>

    </div>
    <div layout="row" flex>
      <div layout="column" class="left-padding" style="padding-top:10px" flex>
        <md-select placeholder="Gender">
          <md-option *ngFor="let gender of genders" [value]="gender.value">
            {{ gender.viewValue }}
          </md-option>
        </md-select>
      </div>
      <div layout="column" class="left-padding right-padding" flex>
        <md-input-container flex> <input mdInput placeholder="Birth Date" name="dob"></md-input-container>
      </div>

    </div>
    <div layout="row" flex>
        <div layout="column" class="left-padding" flex>
          <md-input-container flex> <input mdInput placeholder="Address" name="address"></md-input-container>
        </div>
  
        
  
      </div>
    <div layout="row" flex>
      <div layout="column" class="left-padding" flex>
        <md-input-container flex> <input mdInput placeholder="Mobile Number" name="mobileNumber"></md-input-container>
      </div>

      <div layout="column" class="left-padding right-padding" flex>
        <md-input-container flex> <input mdInput placeholder="Email" name="email"></md-input-container>
      </div>

    </div>
  </form>
</md-dialog-content>
<md-dialog-actions  layout="row" layout-align="start">
  <md-card-actions> <button style="padding-left:20px" md-raised-button color='accent'>SAVE</button>
    <button md-raised-button (click)="cancel()">Cancel</button>
  </md-card-actions>
</md-dialog-actions>